<h2>Daisy Tree</h2>
<tree-root #tree [nodes]="nodes" [options]="options"></tree-root>
<br>
<br>
<form #f="ngForm">
  <label>Email</label>
  <input [(ngModel)]="userLogin.email" name="email" type="text">
  <br>
  <label>Password</label>
  <input [(ngModel)]="userLogin.password" name="password" type="password">
  <br>
  <input (click)="login(f)" type="button" value="Login">
</form>



